.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-left {
    transform: translateX(-50%);
}

.from-right {
    transform: translateX(50%);
}

.from-top {
    transform: translateY(-50%);
}

.from-bottom {
    transform: translateY(50%);
}

.from-left, .from-right, .from-top, .from-bottom {
    opacity: 0;
    transition: opacity 400ms ease-in, transform 400ms ease-in;
}

.from-left.appear, .from-right.appear {
    opacity: 1;
    transform: translateX(0);
}

.from-top.appear, .from-bottom.appear {
    opacity: 1;
    transform: translateY(0);
}

.delay {
    transition-delay: 500ms;
}