/* Universal Styling */

:root {
    --primary-color: rgb(255, 72, 60);
    --light-grey: rgb(217, 213, 210);
    --dark-grey: rgb(46, 46, 46);
    --white: rgb(255, 255, 255);
    --black: rgb(13, 13, 13);
}

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: "proxima-nova-condensed", sans-serif;
    overflow-x: hidden;
}

p {
    font-family: "proxima-nova", sans-serif; 
    font-size: 1rem;
    letter-spacing: 1px;
}

hr {
    width: 30%;
    height: 10px;
    background-color: var(--primary-color);
    border: none;
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: var(--white);
}

/* End Universal Styling */

/* Start of Navigation Styling */

header {
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    padding: 20px 0 20px 20px;
    z-index: 9999;
}

.logo {
    width: 100%;
}

nav {
    height: 60%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.nav-item {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.nav-item a h2 {
    position: relative;
    left: 200px;
    opacity: 0;
    transition: left 0.4s;
}

.nav-icons {
    width: 60px;
    height: 60px;
    background-color: var(--dark-grey);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.nav-icons img {
    max-width: 60%;
}

header nav div a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
}

header nav div h2 {
    font-family: "proxima-nova", sans-serif;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
}

.nav-item:hover a {
    color: var(--primary-color);
}

.nav-item:hover .nav-icons {
    background-color: var(--primary-color);
}

.nav-item:hover a h2 {
    left: 0px;
    opacity: 1;
}

/* End of Naviation Styling */

/* Start of About Me Styling */

#about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    background-image: url("../images/about-me/about-me-image-1920x1080.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

#about-me div {
    width: 80%;
    height: 50%;
}

#about-me h2 {
    font-size: 5rem;
    line-height: 0.8;
    width: 60%;
}

#about-me p {
    width: 40%;
}

/* End of About me Styling */

/* Start of Porfolio Styling */

#portfolio {
    width: 100%;
}

.portfolio-wrapper {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

.portfolio-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0;
}

.portfolio-header h2 {
    font-size: 3rem;
    line-height: 0.8;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    width: 95%;
    place-content: stretch;
    gap: 10px;
    margin-top: 10px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    text-align: center;
    background-color: var(--primary-color);
    position: relative;
    overflow: hidden;
}

.grid-item::after {
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(255, 72, 60, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .8s;
    z-index: 1;
}

.grid-item h3, .grid-item h4 {
    position: relative;
    top: 100px;
    opacity: 0;
    transition: all 0.4s;
    text-transform: uppercase;
    z-index: 2;
}

.grid-item h4 {
    font-weight: 400;
}

.grid-item:hover.grid-item::after {
    opacity: 1;
}

.grid-item:hover h3, .grid-item:hover h4 {
    top: 0px;
    opacity: 1;
}

/* WEB DEVELOPMENT WORK */

.wd {
    grid-column: 1 / span 5;
    background-image: url("../images/portfolio/web-development/run-buddy.JPG");
    background-position: center;
}


/* GRAPHIC DESIGN WORK */


.gd-1 {
    background-image: url("../images/portfolio/graphic-design/Harley-Davidson-posters.jpg");
}

.gd-2 {
    background-image: url("../images/portfolio/graphic-design/Harley-Davidson-promo-cards.jpg");
}

.gd-3 {
    background-image: url("../images/portfolio/graphic-design/Harley-Davidson-guide.jpg");
}

.gd-4 {
    background-image: url("../images/portfolio/graphic-design/Harley-Davidson-email.jpg");
}

.gd-5 {
    background-image: url("../images/portfolio/graphic-design/Harley-Davidson-digital-guide.jpg");
}

.gd-6 {
    background-image: url("../images/portfolio/graphic-design/Harley-Davidson-template-flyers.jpg");
}

.gd-7 {
    background-image: url("../images/portfolio/graphic-design/Harley-Davidson-logo-concept.jpg");
}

.gd-8 {
    background-image: url("../images/portfolio/graphic-design/Primal-logo-business-cards.jpg");
}

.gd-9 {
    background-image: url("../images/portfolio/graphic-design/Naples-logo.jpg");
}

.gd-10 {
    background-image: url("../images/portfolio/graphic-design/FGCU-trifold.jpg");
}

.gd-11 {
    background-image: url("../images/portfolio/graphic-design/FGCU-flyer.jpg");
}

.gd-12 {
    background-image: url("../images/portfolio/graphic-design/FGCU-coasters.jpg");
}

.gd-13 {
    background-image: url("../images/portfolio/graphic-design/Mud-Ready-ad.jpg");
}

.gd-14 {
    background-image: url("../images/portfolio/graphic-design/Mud-Ready-Logo.jpg");
}

.gd-15 {
    background-image: url("../images/portfolio/graphic-design/Mud-Ready-shirts.jpg");
}

/* End of Portfolio Styling */

/* Start of Contact Styling */

#contact {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url("../images/hero-image/hero-image-1920x1080.jpg");
    background-size: cover;
}

.contact-form {
    width: 80%;
}

.contact-form form {
    width: 60%;
}

.contact-form h2{
    font-size: 3rem;
    line-height: 0.9;
}

.contact-form span {
    color: var(--primary-color);
}

.form-input {
    border: 1px solid var(--secondary-color);
    padding: 7px 15px;
    font-size: 1rem;
    margin: 15px 5px 5px 0;
}

form input:focus, form textarea:focus {
    outline-color: var(--primary-color);
}

.contact-form #name, .contact-form #email {
    width: 40%;
    height: 30px;
}

.contact-form #subject-line, .contact-form #message {
    width: 80.75%;
}

.contact-form button {
    display: block;
    width: 20%;
    height: 40px;
    font-family: "proxima-nova";
    font-size: 1rem;
    color: white;
    letter-spacing: 1px;
    margin-top: 10px;
    background-color: var(--primary-color);
    border: none;
}

/* End of Contact Styling */

/* Start of Media Queries */

@media screen and (max-width: 1024px) {
    hr {
        width: 30%;
        height: 5px;
        background-color: var(--primary-color);
        border: none;
        margin: 10px 0;
    }
    
    /* Navigation */
    header {
        width: 100%;
        height: 120px;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        background-color: var(--black);
    }

    .logo {
        width: 40%;
    }

    nav {
        width: 99%;
        height: 30px;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: center;
    }

    .nav-item {
        width: 15%;
        height: 20px;
        display: flex;
        flex-flow: row wrap ;
        justify-content: space-evenly;
        overflow: hidden;
    }

    .nav-item a h2 {
        left: 0;
        opacity: 1;
        font-size: 0.8rem;
    }

    .nav-icons{
        display: none;
    }

    /* About Me */
    #about-me {
        width: 100%;
        height: 400px;
        position: static;
        background-position: center;
        align-items: flex-start;
        padding-left: 50px;
    }

    #about-me div {
        width: 80%;
        height: 85%;
    }

    #about-me h2 {
        font-size: 2.6rem;
        line-height: 0.8;
        width: 60%;
    }
    
    #about-me p {
        font-size: 0.7rem;
        width: 60%;
    }

    /* Portfolio Section */
    .portfolio-wrapper {
        width: 90%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .portfolio-section {
        width: 100%;
    }

    .portfolio-header h2 {
        font-size: 2rem;
        line-height: 0.8;
        text-align: center;
    }

    .portfolio-header hr {
        width: 50%;
        margin: 10px auto;
    }

    .grid-container {
        width: 100%;
    }

    .grid-item {
        justify-content: flex-end;
    }

    .grid-item::after {
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(13, 13, 13, 0.8)) ;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
    }

    .grid-item h3, .grid-item h4 {
        position: relative;
        top: 0px;
        opacity: 1;
    }

    /* Contact */
    #contact {
        height: 600px;
        justify-content: center ;
        background-position: right;
    }

    .contact-form h2 {
        font-size: 1.5rem;
        line-height: 1;
        text-align: center;
    }

    .contact-form hr {
        width: 50%;
        margin: 10px auto;
    }

    .contact-form form {
        width: 100%;
        margin: auto;
    }

    .contact-form #name, .contact-form #email, .contact-form #subject-line, .contact-form #message, .contact-form button {
        width: 100%;
    }

}

/* Mobile phones and smaller */
@media screen and (max-width: 575px) {

    /* Navigation */

    .logo {
        width: 60%;
    }

    .nav-item {
        width: 30%;
    }

    /* About Me */
    #about-me {
        height: 400px;
        padding-left: 20px;
    }

    #about-me div {
        width: 90%;
        height: 75%;
    }
    
    #about-me p {
        font-size: 0.5rem;
    }

}
