// variables go above this import

// custom styles go below this import
@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
  color: white;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer-icons {
  width: 60px;
}

.project-thumbnail {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

img.project-thumbnail {
  object-fit: cover;
}

form {
  color: black;
}